APScheduler==3.6.0
argon2-cffi==19.1.0
asn1crypto==0.24.0
astroid==2.2.5
atomicwrites==1.3.0
attrs==19.1.0
Authlib==0.10
bcrypt==3.1.6
beautifulsoup4==4.7.1
certifi==2019.3.9
cffi==1.12.2
chardet==3.0.4
Charm-Crypto==0.50
Click==7.0
colorama==0.4.1
coverage==4.5.3
cryptography==2.6.1
cycler==0.10.0
defusedxml==0.5.0
Flask==1.0.2
Flask-MQTT==1.0.5
flask-oidc==1.4.0
Flask-OpenID==1.2.5
Flask-Psycopg2==1.3
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
gevent==1.4.0
greenlet==0.4.15
httplib2==0.12.1
hypothesis==4.17.0
idna==2.8
isort==4.3.17
itsdangerous==1.1.0
Jinja2==2.10.1
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
locustio==0.11.0
MarkupSafe==1.1.1
matplotlib==3.0.3
mccabe==0.6.1
mmh3==2.5.1
more-itertools==7.0.0
msgpack==0.6.1
numpy==1.22.0
oauth2client==4.1.3
paho-mqtt==1.4.0
passlib==1.7.1
pbr==5.1.3
pg8000==1.13.1
pluggy==0.9.0
psycopg2-binary
py==1.8.0
py-cpuinfo==5.0.0
pyasn1==0.4.5
pyasn1-modules==0.2.4
pycparser==2.19
pylint==2.3.1
pyope==0.2.2
pyparsing==2.4.0
pytest==3.8.0
pytest-benchmark==3.2.2
pytest-cov==2.6.1
pytest-html==1.20.0
pytest-metadata==1.8.0
pytest-mock==1.10.3
python-dateutil==2.8.0
python3-openid==3.1.0
pytz==2018.9
pyzmq==18.0.1
requests==2.21.0
rsa==4.0
scipy==1.2.1
six==1.12.0
soupsieve==1.8
SQLAlchemy==1.3.3
sqlalchemy-repr==0.0.1
tinydb==3.13.0
typed-ast==1.3.2
typing==3.6.6
tzlocal==1.5.1
urllib3==1.24.2
Werkzeug==0.15.3
wrapt==1.11.1
WTForms==2.2.1
