FLASK_APP="app_setup:create_app('development')"
DEV_DATABASE_URL=postgres+psycopg2://postgres:postgres@<local-ip>:5430/postgres
TEST_DATABASE_URL=postgres+psycopg2://postgres:postgres@db_test/testing
TEST_DATABASE_HOST_URL=postgres+psycopg2://postgres:postgres@<local-ip>:5430/testing
DOCKER_DATABASE_URL=postgres+psycopg2://postgres:postgres@<local-ip>:5430/postgres
MQTT_BROKER_URL=mqtt
MQTT_BROKER_HOST_URL=<docker-iot_cloud_mqtt-ip> # docker inspect -f '{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}' iot_cloud_mqtt
MQTT_BROKER_PORT=8883
MQTT_USERNAME=''
MQTT_PASSWORD=''
GITHUB_CLIENT_ID=<Client ID from https://github.com/settings/applications/<id>>
GITHUB_CLIENT_SECRET=<Client Secret from https://github.com/settings/applications/<id>>
STACKOVERFLOW_CLIENT_ID=<Client ID from https://stackapps.com/apps/oauth/view/<id>>
STACKOVERFLOW_CLIENT_SECRET=<Client Secret from https://stackapps.com/apps/oauth/view/<id>>
STACKOVERFLOW_API_KEY=<Client API Key from https://stackapps.com/apps/oauth/view/<id>> (Not a secret)