{% extends "base.html" %}

{% block content %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.topic.label }}<br>
            {{ form.topic(size=32) }}
        </p>
        <p>
            {{ form.message.label }}<br>
            {{ form.message(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% if error %}
        <p class=error><strong>Error: </strong> {{ error }}
    {% endif %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock %}